:root {
  --background: #ffffff;
  --background-night: #3a3939;
  --foreground: #7d7d7d;
  --primary-color: #ed3f7e;
  --secondary-color: #7645F2;
  --third-color: #00a99d;

  --card-color: #3a3939;
  --card-color-back: #ed3f7e;
  --text-card-color: #ed3f7e;
  --text-card-color-back: #3a3939;
  
  --text-color: #7d7d7d;
  --secondary-text-color: #3a3939;
  --shadow: hsla(338, 83%, 59%, 0.235);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonDesign1 {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--third-color);
  color: var(--secondary-text-color);
  border: none;
  cursor: pointer;
  margin: 5px;
  z-index: 1000000 !important;
}

.buttonDesign2 {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border: none;
  cursor: pointer;
  margin: 5px;
  z-index: 1000000 !important;
}