.title {
    color: var(--primary-color);
    text-align: center;
    box-shadow: 0 3px 0 var(--shadow);
    padding: 16px;
    margin-top: 0;

}

.title-secondary {
    color: var(--primary-color);
}

.header {
    background-color: var(--background-night);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cardBody {
    color: var(--text-card-color);
    background-color: var(--card-color);
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 3px 0 var(--shadow);
    margin-top: 5px;
}

.buttonDesign1 {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--third-color);
    color: var(--secondary-text-color);
    border: none;
    cursor: pointer;
    margin: 5px;
    z-index: 1000000 !important;
  }
  
  .buttonDesign2 {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: #FFF;
    border: none;
    cursor: pointer;
    margin: 5px;
    z-index: 1000000 !important;
  }